name: nodejs
on: [pull_request, push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-node@v2.1.5
      with:
        node-version: 14
    - name: Update npm
      run: |
        npm install -g npm
        npm --version
    - uses: actions/checkout@v2.3.4
    - name: Install dependencies
      uses: bahmutov/npm-install@v1.7.4
      with:
        useLockFile: false
    - run: npm ls
    - name: Test
      uses: gabrielbb/xvfb-action@v1.4
      with:
        run: npm test
