name: nodejs
on: [push, pull_request, merge_group]
permissions:
  contents: read
jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 24.11.1
    - name: Update npm
      run: |
        npm install -g npm
        npm --version
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Install dependencies
      uses: bahmutov/npm-install@3e063b974f0d209807684aa23e534b3dde517fd9 # v1.11.2
      with:
        useLockFile: false
    - run: npm ls
    - name: Test
      uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
      with:
        timeout_seconds: 30
        max_attempts: 3
        command: xvfb-run -a npm test
